# Project exclude paths
/.gradle/
/Simple Banking System/task/build/
/Simple Banking System/task/out/production/classes/
/Simple Banking System/task/out/test/classes/
/Topics/Conditional statement/Leap year/out/
/Topics/Conditional statement/Leap year/out/production/classes/
/Topics/Conditional statement/Symmetrical number/out/
/Topics/Conditional statement/Symmetrical number/out/production/classes/
/Topics/Conditional statement/Theory/out/
/Topics/Conditional statement/Theory/out/production/classes/
/Topics/LocalTime/Seconds since start of a day/out/
/Topics/LocalTime/Seconds since start of a day/out/production/classes/
/Topics/LocalTime/Theory/out/
/Topics/LocalTime/Theory/out/production/classes/
/Topics/Map and flatMap/Maximum of the absolute values/out/
/Topics/Map and flatMap/Maximum of the absolute values/out/production/classes/
/Topics/Map and flatMap/Theory/out/
/Topics/Map and flatMap/Theory/out/production/classes/
/Topics/Processing strings/Cutting out the middle of a string/out/
/Topics/Processing strings/Cutting out the middle of a string/out/production/classes/
/Topics/Processing strings/Generating passwords/out/
/Topics/Processing strings/Generating passwords/out/production/classes/
/Topics/Processing strings/Theory/out/
/Topics/Processing strings/Theory/out/production/classes/